# Gradle
.gradle/
build/

# Local configuration
local.properties

# Android Studio / IntelliJ
.idea/
*.iml

# Native build
.externalNativeBuild/
.cxx/

# Captures (Android Studio screen recordings)
captures/

# Mac
.DS_Store
